@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Public+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
:root{
    --black: black;
    --orange: #FCA311;
    --orange-hover: #d48300;
    --blue: #14213D;
    --gray: #e5e5e5;
    --font-gray: #c7c7c7;
    --white: white;
    --font-white: white;
    --font-black: rgb(31, 31, 31);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}

body{
    font-family: 'Public Sans';
    width: 100%;
    background-repeat: no-repeat;
    background-position: 0px 60px;
    background: var(--gray);
}

div.dark{
    color: var(--font-white);
    background: radial-gradient(circle, rgba(20,33,61,1) 0%, rgba(15,25,47,1) 100%);
}
div.dark header{
    background: var(--black);
}
div.dark h1{
    color: var(--font-white) !important;
}
div.dark h2{
    color: var(--font-white) !important;
}
div.dark a.CVDownload{
    background: var(--white);
    color: var(--black);
}
div.dark .CVDownload:hover{
    background: var(--orange);
}
div.dark .english p:last-child, div.dark .pt-br p:last-child{
    color: var(--gray) !important;
}
div.dark .languages{
    border-bottom: 1px solid var(--gray);
}
div.dark .skill{
    background: var(--orange);
    color: var(--black);
}
div.dark .links .fa-github, div.dark .links .fa-linkedin-in{
    color: var(--gray) !important;
}
div.dark .links .fa-github:hover{
    color: rgb(71, 71, 71) !important;
}
div.dark .links .fa-linkedin-in:hover{
    color: rgb(37, 114, 255) !important;
}
div.dark li.tecnologie, div.dark .btn, div.dark .viewMore{
    background: var(--orange) !important;
    color: var(--black) !important;
}
div.dark li.tecnologie:hover, div.dark .btn:hover, div.dark .viewMore:hover{
    background: var(--orange-hover) !important;
    color: var(--black) !important;
}
div.dark .project-card{
    background: var(--black);
}
div.dark .project-card h3{
    color: var(--font-white);
}
div.dark .project-card p{
    color: var(--font-gray);
}

